body {
    text-align: left;
    padding: 20px;
    /*moves away from sides*/
}

/*group of headers and tasks*/
.task-board {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*put header and task column as columns*/
.group-column,
.task-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*put style header and task columns*/
.group,
.task {
    padding: 15px;
    border-radius: 15px;
    height: 50px;
    /*flex = make the columns horizontal*/
    display: flex;
    align-items: center;
}

.task {
    width: 250px;
    background-color: white;
    display: flex;
    /*puts the stars on the right side*/
    justify-content: space-between;
    align-items: center;
}

/*creates a header to space out the title and description*/
header {
    margin-bottom: 30px;
}

/*the following three create separation bewteen the different sections*/
.selected-task {
    margin-bottom: 30px;
}

.add-task {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.task-board {
    margin-top: 30px;
}

.group-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*generate button is an id so must use # */
#generate-button {
    margin-top: 30px;
}

.star-selector {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    margin-right: 5px;
}

.star:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#group-popup {
    background-color: rgba(0, 0, 0, .4);
    display: none;

    /*fixed tells page to ignore layout and place in a specific location*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.popup-content {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    gap: 5px;
}

.color-palette {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.selected-color {
    border: 5px solid lightgray;
}

.blue {
    background-color: #8ecae6;
}

.green {
    background-color: #90be6d;
}

.purple {
    background-color: #c77dff;
}

.yellow {
    background-color: #ffd166;
}

.red {
    background-color: #ef476f;
}

.orange {
    background-color: #ff9f1c;
}