body {
    text-align: left;
    padding: 20px;
    /*moves away from sides*/
}

/*group of headers and tasks*/
.task-board {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*put header and task column as columns*/
.group-column,
.task-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*put style header and task columns*/
.group,
.task {
    padding: 15px;
    border-radius: 15px;
    height: 50px;
    /*flex = make the columns horizontal*/
    display: flex;
    align-items: center;
}

.task {
    width: 250px;
    background-color: white;
    display: flex;
    /*puts the stars on the right side*/
    justify-content: space-between;
    align-items: center;
}

/*creates a header to space out the title and description*/
header {
    margin-bottom: 30px;
}

/*the following three create separation bewteen the different sections*/
.selected-task {
    margin-bottom: 30px;
}

.add-task {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.task-board {
    margin-top: 30px;
}

/*generate button is an id so must use # */
#generate-button {
    margin-top: 30px;
}

.star-selector {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    margin-right: 5px;
}

.star:hover {
    cursor: pointer;
    transform: scale(1.2);
}